@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui-grid-col-10">
    <div id="tbllocal"></div>
</div>
<script charset="UTF-8">
    $(document).ready(CarregarTabelaMatriz());
</script>